metapub==0.5.7
aiohttp>=3.9.3
pandas==2.1.4
nltk==3.8.1
scikit-learn==1.4.0
numpy==1.26.3
spacy>=3.7.3
transformers>=4.30.0
torch>=2.0.0
sentence-transformers>=2.2.2
pytesseract>=0.3.10
pdf2image>=1.16.3 