# consolidated env file to simplify `docker compose run` commands
##### NOTE ##### : target data/cache directories on host will be created in /tmp unless specified otherwise

### ====== SeqRepo

# Path to the SeqRepo data directory on the host
HOST_SEQREPO_DATA_DIR=/tmp/SeqRepo

# Port mapping for the SeqRepo REST service
HOST_SEQREPO_SERVICE_PORT=5000


### ====== UTA

# path to UTA data directory on host
HOST_UTA_DATA_DIR=/tmp/uta

# Port mapping for the UTA service
HOST_UTA_SERVICE_PORT=5432

# Password for the UTA PostgreSQL database
UTA_PGADMIN_PWD=UtaVar1a


### ====== VEP service

# host directory for cache files
VEP_CACHE_PATH=/temp/vep_cache

# vep version to use
VEP_VERSION=release_115.2

# Default species/assembly if not specified
SPECIES=homo_sapiens
ASSEMBLY=GRCh49

# Plugins - see https://www.ensembl.org/info/docs/tools/vep/script/vep_plugins.html
VEP_PLUGINS=CADD,dbNSFP,LoFtool,LD,Enformer,NearestGene,NMD,TSSDistance
