# Database connection (required)
DATABASE_URI=postgresql://<user>:<pwd>@<host>:<port>/<database>

# Enable debug mode (optional, default: false)
DEBUG=false

# API Configuration
API_VERSION=0.0.1

# For Docker deployment
HOST_SERVICE_PORT=8080
COMPOSE_PROJECT_NAME=schema-inspector-service
